/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/

  header {
    background: #F1E0C5;
    height: 138px;
  }

  a {
    text-decoration: none;
    list-style: none;
  }

 #nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    top: -70px;
  }

  .logoImg {
    max-width: 10%;
    width: auto;
    margin-left: 20px;
  }

 /* not sure how to make the image icon/home button not have that bar but it should probably be our home button*/
 
  #home-button {
    transition: none;
}
  
  /* .shareYourStory {
    padding: 10px 24px;
    background-color: #6c524a;
    color: white;
    border-radius: 120px;
  } */


  /* NAV */

 .nav-link {
    background-color: #563e3677;
    color: white;
    margin-right: 25px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 120px;
  }

  .nav-link:hover {
    transition-delay: 5s;
  } 

  .nav-link:hover::after{
    background-color: #563e3677;
    color: white;
    margin-right: 25px;
    padding: 10px 25px;
    text-decoration: none;
    /* border-radius: 120px; */
  }

  .nav-link:hover::before{
    content: "";
    background-color: #563e3677;
    color: white;
    margin-right: 25px;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 120px;
  }

  /* OUR STORIES */
  body, html {
    height: 100%;
  }

  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../our stories img 3.jpeg");
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    font-size: 2em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FEE1C7;
  }


  .ourStories {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 180px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .container .storyteller{
    padding: 30px 60px;
  }

  .storyteller {
    width: 40%;
  }

  #theirstory {
    padding-top: 40px;
    padding-left: 30px;
  }
  /* .container {
    justify-content: center;
  } */




 /* FOOTER */

  footer {
    margin: 0;
    display: flex;
    align-items: flex-end;
    height: 700px;
  }
  
  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #F1E0C5;
    width: 100%;
    height: 142px;
    padding-top: 10px;
    padding-right: 40px;
  }
  
  .footerLinks li {
    padding-top: 10px;
    list-style: none;
  }

  .footerLinks a {
    color: #71816D;
  }


  .footerLinks .footerSocials {
    position: relative;
    left: -1220px;
    top: 40px;
  }

  .fa-brands {
    position: relative;
    right: -80px;
    padding-right: 15px;
  }
  

/* YOUR-STORY STYLES */

#we-had-abortions {
  display: flex;
  width: 30%;
}

intro.p {
  width: 70%;
}

  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  